* {
    box-sizing: border-box;
    font-family: "Abel", sans-serif;
    margin: 0;
    padding: 0;
}

.navigation {
    background-color: black;
    box-shadow: 0px 1px 10px -3px rgba(0, 0, 0, 0.75);
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.5rem;
    height: 50px;
    left: 0px;
    position: fixed;
    right: 0px;
    top: 0;
    z-index: 10;
}

.navigation a {
    color: white;
    display: inline-block;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 25%;
}

.navigation a:hover {
    color: rgba(255, 0, 0, 0.616);
    cursor: pointer;
    font-weight: bold;
}

section {
    min-height: 100vh;
    position: relative;
}

section.buffer-content {
    background-color: white;
    min-height: 30vh;
    position: relative;
}

section.buffer-content p {
    font-size: 3rem;
    left: 50%;
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

section.buffer-content p:nth-child(n+2) {
    display: none;
}

.background {
    bottom: 0px;
    left: 0px;
    min-height: 100vh;
    position: absolute;
    right: 0px;
    top: 0px;
}

.background--image {
    background-size: cover;
    height: 100%;
}

.background--image.one {
    background-image: url("../pic/3.jpg");
}

.background--image.two {
    background-image: url("../pic/2.jpg");
}

.background--image.three {
    background-image: url("../pic/4.jpg");
}

.background--image.four {
    background-image: url("../pic/4.jpg");
}

.background--video {
    min-width: 100%;
    min-height: 100%;
}

.animated-border {
    width: 100%;
    min-height: 100vh;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.animated-border--bar {
    background-color: white;
    position: absolute;
}

.animated-border--bar.top {
    height: 30px;
    left: 0;
    transform-origin: top center;
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    top: 0;
    width: 100%;
}

.animated-border--bar.right {
    height: 100%;
    right: 0;
    transform-origin: right center;
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    top: 0;
    width: 30px;
}

.animated-border--bar.bottom {
    bottom: 0;
    height: 30px;
    width: 100%;
    right: 0;
    transform-origin: bottom center;
    -webkit-transform-origin: bottom center;
    -ms-transform-origin: bottom center;
}

.animated-border--bar.left {
    height: 100%;
    left: 0;
    transform-origin: left center;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    top: 0;
    width: 30px;
}

.key-features {
    align-items: baseline;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -webkit-flex;
}

.key-features--with-icons {
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -webkit-flex;
    margin: 20px 60px 0 0;
}

.key-features--icon-wrapper {
    border: 1px solid white;
    display: inline-block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: relative;
    margin-right: 10px;
}

.key-features--icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.key-features--text-wrapper {
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.key-features--icon-text {
    font-size: 2rem;
}

.key-features--icon-unit {
    font-size: 1.3rem;
}

.key-features--number {
    font-size: 5rem;
    font-weight: bold;
}

.key-features-distance-wrapper {
    align-self: center;
    -ms-flex-item-align: center;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    font-size: 2rem;
}

.key-features--distance-unit {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 20px;
}

.key-features--distance-unit-detail {
    font-size: 1rem;
    font-weight: normal;
}

.key-features--headline {
    margin-top: 60px;
}

.headline-text {
    font-size: 2.5rem;
    font-weight: bold;
}

.key-features--slogan-text {
    font-size: 1.5rem;
    margin-top: 20px;
    line-height: 2.2rem;
}

.slogan-text {
    font-size: 6rem;
    font-weight: bolder;
}

.key-features--show-more-wrapper{
    border: 1px solid white;
    display: inline-flex;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    margin-top: 60px;
    padding: 3px 20px;
    text-align: center;
}

.key-features--show-more-wrapper:before {
    content: "\002B";
    color: white;
    font-size: 2.5rem;
}

.show-more--anchor {
    align-self: center;
    font-size: 1.3rem;
    margin-left: 10px;
}

.key-features--show-more-wrapper:link,
.key-features--show-more-wrapper:visited {
    color: white;
    text-decoration: none;
}

.key-features--show-more-wrapper:hover:before {
    color: darkred;
}

.specs {
    bottom: 10vh;
    color: white;
    padding-left: 15vw;
    padding-right: 20vw;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}

.specs--text-header {
    font-size: 32px;
}

.specs--text-highlight {
    font-size: 80px;
    font-weight: bold;
    margin: 20px 0;
    line-height: 5rem;
}

.specs--text-copy {
    font-size: 20px;
    margin: 20px 0;
}

.specs--anchor {
    display: inline-block;
    position: relative;
}

.specs--anchor:link,
.specs--anchor:visited {
    color: white;
    text-decoration: none;
}

.specs--anchor:hover {
    text-decoration: underline;
    text-decoration-color: rgba(255, 0, 0, 0.616);
}

.specs--anchor-text {
    align-items: center;
    border: 1px solid white;
    border-radius: 33px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    justify-content: center;
    font-size: 20px;
    width: 200px;
}

.image-buffer-content {
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100%;
    padding: 0 30px;
}

.tile {
    padding: 30px 0;
}

.tile img {
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 770px) {
    .animated-border--bar.top,
    .animated-border--bar.bottom {
        height: 45px;
    }

    .animated-border--bar.right,
    .animated-border--bar.left {
        width: 45px;
    }

    .specs {
        padding-top: 20vh;
    }
}

@media screen and (max-width: 450px) {
    .animated-border--bar.top,
    .animated-border--bar.bottom {
        height: 25px;
    }

    .animated-border--bar.right,
    .animated-border--bar.left {
        width: 25px;
    }

    .specs {
        padding-right: 7vw;
        padding-top: 10vh;
    }

    .specs--text-header {
        font-size: 28px;
    }

    .specs--text-highlight {
        font-size: 60px;
        line-height: 4rem;
    }

    .specs--text-copy {
        font-size: 16px;
    }
}